<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div style="margin-top: 10px;" class="row">
                <div class="col-xs-11">
                    <label for="name">Name</label>
                    <input type="text" 
                    name="name" 
                    id="name"
                    formControlName="name"
                    class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11">
                    <label for="imagepath">Image URL</label>
                    <input type="text" 
                    name="imagepath" 
                    id="imagepath"
                    formControlName="imagepath"
                    class="form-control"
                    #imagepath>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11">
                    <img [src]="imagepath.value" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11">
                    <label for="description">Description</label>
                    <textarea type="text" 
                    name="description" 
                    class="form-control"
                    rows="6"
                    formControlName="description">
                    </textarea>
                </div>
            </div>
            <div style="margin-top: 10px;" class="row">
                <div class="col-xs-11"formArrayName ='ingredients' >
                    <div class="row" 
                    *ngFor="let ingredinetctrl of controls;let i = index "
                        [formGroupName]="i">
                        <div class="col-xs-8">
                            <input type="text" 
                            class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" 
                            class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                </div>
                <hr>
                <button style="margin-left:15px" type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
            </div>      
        </form>
    </div>
</div>
