<!-- <app-header (selectedFeature)="onNavigate($event)"></app-header> -->
<app-header></app-header>
<div class = "conatiner">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
            <!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
            <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list> -->
        </div>
    </div>
    <!-- <div appbasichighlight>This is my new custom directive</div> -->
</div>